@tailwind base;
@tailwind components;
@tailwind utilities;

.animationPulseColor_border {
  animation: pulse-color 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-color {
  0% {
    border-color: #00ffff;
  }
  25% {
    border-color: #97fba0;
  }
  50% {
    border-color: #97b1fb;
  }
  /* 75% {
    border-color: #344cb7;
  } */
  100% {
    border-color: #00ffff;
  }
}

.mainTextAnimation {
  color: #000;
  background: rgba(255, 253, 160, 1);
  background: -webkit-linear-gradient(
      left,
      #00ffff 0%,
      #97fba0 25%,
      #97b1fb 50%,
      #00ffff 100%
    )
    repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
